.job > div{
    display: flex;
    justify-content: space-between;
}

.job{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.job h1{
    font-size: 15px;
}

.job p{
    font-size: 10px;
    color: #8D8D8D;
}

.job button{
    font-size: 15px;
    background: none;
    border: none;
    color: red;
    display: none;
}

.job button:hover{
    color: rgba(255, 0, 0, 0.5);

}


.job:hover button{
    display: block;
}




